<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> LISTADO VARIABLES CUANTITATIVAS</strong></h1>
    </blockquote>
    <div></div>

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..." [(ngModel)]="filterPost"
            (input)="aplicarFiltro()" />
        </div>
        <br />
        <div class="d-flex">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#materiaModal"
            style="margin-right: 2%;">
            CREAR NUEVA VARIABLE CUANTITATIVA
          </button>
          <button type="button" class="btn btn-warning" (click)="generarReportePDF()">
            GENERAR REPORTE CUANTITATIVA
          </button>
        </div>
        <br />
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id_cuantitativa">
            <th mat-header-cell *matHeaderCellDef [style.display]="ocultar ? '' : 'none'">ID</th>
            <td mat-cell *matCellDef="let elemento" [style.display]="ocultar  ? '' : 'none'">
              {{ elemento.id_cuantitativa }}
            </td>
          </ng-container>

          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.descripcion }}
            </td>
          </ng-container>
          <ng-container matColumnDef="abreviatura">
            <th mat-header-cell *matHeaderCellDef>ABREVIATUA</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.abreviatura }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let element" class="accioness-cell">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#materiaModal"
                style="margin-right: 5%" (click)="editDatosCuanti(element)" ngbTooltip="Editar variable">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger" style="background-color: red" (click)="eliminarCuanti(element)"
                style="margin-right: 5%" ngbTooltip="Eliminar variable">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
          <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:" nextPageLabel="Siguiente"
          previousPageLabel="Anterior">
        </mat-paginator>

        <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="limpiarFormulario2()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header bg-blue">
                <h3 class="modal-title">
                  <i class="fas fa-clipboard"></i> Variable Cuantitativa
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form [formGroup]="frmCuantitativa" (ngSubmit)="guardarCuanti()" id="formulario2">
                  <div>
                    <label for="descripcion">Descripción:</label>
                    <input class="form-control" formControlName="descripcion" type="text" id="descripcion"
                      name="descripcion" style="margin-bottom: 10px" />
                    <div class="alert alert-danger" *ngIf="
                        frmCuantitativa.controls['descripcion'].invalid &&
                        frmCuantitativa.controls['descripcion'].touched
                      ">
                      <div *ngIf="
                          frmCuantitativa.controls['descripcion'].hasError(
                            'required'
                          )
                        ">
                        Debe ingresar una descripcion
                      </div>
                    </div>
                    <label for="abreviatura">Abreviatura:</label>
                    <textarea class="form-control" formControlName="abreviatura" id="abreviatura" name="abreviatura"
                      style="margin-bottom: 10px"></textarea>
                    <div class="alert alert-danger" *ngIf="
                        frmCuantitativa.controls['abreviatura'].invalid &&
                        frmCuantitativa.controls['abreviatura'].touched
                      ">
                      <div *ngIf="
                          frmCuantitativa.controls['abreviatura'].hasError(
                            'required'
                          )
                        ">
                        La descripcion no puede estar vacia
                      </div>
                      <div *ngIf="
                          frmCuantitativa.controls['abreviatura'].hasError(
                            'maxlength'
                          )
                        ">
                        Excedio el numero de caracteres permitido
                      </div>
                    </div>
                  </div>
                </form>
                <div class="modal-footer">
                  <button type="button" form="formulario2" class="btn btn-warning" data-bs-dismiss="modal">
                    Cancelar
                  </button>
                  <button type="submit" class="btn btn-primary" form="formulario2" *ngIf="!cuanti.id_cuantitativa"
                    data-dismiss="modal" data-bs-dismiss="modal" [disabled]="!frmCuantitativa.valid">
                    Agregar
                  </button>
                  <button class="btn btn-primary" *ngIf="cuanti.id_cuantitativa" data-dismiss="modal"
                    data-bs-dismiss="modal" (click)="actualizarCuanti()" [disabled]="!frmCuantitativa.valid">
                    Actualizar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>