<body>
  <!-- <section class="vh-100" style="background-color: #f4f5f7"> -->
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col col-lg-12 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: 0.5rem">
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                "
              >
                <img
                  src="./assets/profile.png"
                  alt="Avatar"
                  class="img-fluid my-5"
                  style="width: 80px"
                />
                <h5>
                  {{ user?.persona?.primer_apellido }}
                  {{ user?.persona?.primer_nombre }}
                </h5>
                <p>{{ rol }}</p>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h1>Información</h1>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h3>Email</h3>
                      <p class="text-muted">{{ user?.persona?.correo }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h3>Celular</h3>
                      <p class="text-muted">{{ user?.persona?.celular }}</p>
                    </div>
                  </div>
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h3>Username</h3>
                      <p class="text-muted">{{ user?.username }}</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h3>Direccion</h3>
                      <p class="text-muted">{{ user?.persona?.direccion }}</p>
                    </div>
                  </div>
                </div>
                <div
                  class="button-group w-60 d-flex justify-content-center"
                  style="margin: 1%; align-items: center"
                >
                  <button
                    mat-raised-button
                    color="primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal3"
                  >
                    <mat-icon>vpn_key</mat-icon>Cambiar Contraseña
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    data-bs-toggle="modal"
                    style="margin-left: 3%"
                    data-bs-target="#exampleModal4"
                    (click)="edit()"
                  >
                    <mat-icon>edit</mat-icon>Actualizar Datos
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- </section> -->
  <div
    class="modal fade"
    id="exampleModal3"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div
          class="modal-header text-center"
          style="background-color: rgb(0, 122, 255)"
        >
          <strong>
            <h1
              class="modal-title font-weight-bold"
              style="font-family: Arial, sans-serif; color: white"
            >
              Cambiar Contraseña
            </h1>
          </strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input
              disabled
              required
              name="username"
              matInput
              [value]="user.username"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nueva Contraseña</mat-label>
            <input
              required
              [(ngModel)]="usuariosEditGuar.password"
              name="password2"
              type="password"
              matInput
              placeholder="Digite su contraseña"
            />
          </mat-form-field>
          <form [formGroup]="contraForm">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirmar Contraseña</mat-label>
              <input
                required
                formControlName="confirmPassword"
                type="password"
                matInput
                placeholder="Repita su contraseña"
              />
              <mat-error
                *ngIf="
                  contraForm.get('confirmPassword')?.invalid &&
                  contraForm.get('confirmPassword')?.touched
                "
              >
                Las contraseñas no coinciden.
              </mat-error>
            </mat-form-field>

            <div class="container text-center">
              <button
                mat-raised-button
                color="primary"
                [disabled]="contraForm.invalid"
                data-bs-dismiss="modal"
                (click)="Actualizar(usuariosEditGuar)"
              >
                <mat-icon>save</mat-icon> Guardar
              </button>
              <button
                type="button"
                style="margin-left: 5%"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="exampleModal4"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div
          class="modal-header text-center"
          style="background-color: rgb(0, 122, 255)"
        >
          <strong>
            <h1
              class="modal-title font-weight-bold"
              style="font-family: Arial, sans-serif; color: white"
            >
              Actualizar Datos
            </h1>
          </strong>
          
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de usuario</mat-label>
            <input
              disabled
              required
              name="username"
              matInput
              [value]="user.username"
            />
          </mat-form-field>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>ID usuario</mat-label>
            <input
              disabled
              required
              name="id_usuario"
              matInput
              [value]="user.id"
            />
          </mat-form-field>
          <form
            [formGroup]="usuarioForm"
            (ngSubmit)="Actualizardatos(usuariosEditGuar)"
          >
            <mat-label>Email</mat-label>
            <input
              class="form-control"
              formControlName="correo"
              matInput
              placeholder="Digite su correo"
            />
            <mat-error
              class="alert alert-danger"
              style="color: black;"
              *ngIf="
                usuarioForm.controls['correo'].invalid &&
                usuarioForm.controls['correo'].touched
              "
            >
              El correo electrónico es inválido.
            </mat-error>

            <mat-label>Celular</mat-label>
            <input
              class="form-control"
              formControlName="celular"
              matInput
              placeholder="Digite su celular"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                usuarioForm.controls['celular'].invalid &&
                usuarioForm.controls['celular'].touched
              "
            >
              <div>El numero es invalido</div>
            </div>

            <mat-label>Direccion</mat-label>
            <input
              class="form-control"
              formControlName="direccion"
              name="direccion"
              type="text"
              matInput
              placeholder="Digite su direccion"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                usuarioForm.controls['direccion'].invalid &&
                usuarioForm.controls['direccion'].touched
              "
            >
              <div
                *ngIf="usuarioForm.controls['direccion'].hasError('required')"
              >
                Debe ingresar una direccion
              </div>
            </div>

            <mat-label>Nombre</mat-label>
            <input
              class="form-control"
              formControlName="primer_nombre"
              name="primer_nombre"
              type="text"
              matInput
              placeholder="Digite su nombre"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                usuarioForm.controls['primer_nombre'].invalid &&
                usuarioForm.controls['primer_nombre'].touched
              "
            >
              <div
                *ngIf="
                  usuarioForm.controls['primer_nombre'].hasError('required')
                "
              >
                Debe ingresar su nombre
              </div>
            </div>
            <mat-label>Apellido</mat-label>
            <input
              class="form-control"
              formControlName="primer_apellido"
              name="primer_apellido"
              type="text"
              matInput
              placeholder="Digite su apellido"
            />
            <div
              class="alert alert-danger"
              *ngIf="
                usuarioForm.controls['primer_apellido'].invalid &&
                usuarioForm.controls['primer_apellido'].touched
              "
            >
              <div
                *ngIf="
                  usuarioForm.controls['primer_apellido'].hasError('required')
                "
              >
                Debe ingresar su apellido
              </div>
            </div>
            <div class="container text-center">
              <button
                mat-raised-button
                color="primary"
                [disabled]="usuarioForm.invalid"
                data-bs-dismiss="modal"
              >
                <mat-icon>save</mat-icon>Guardar
              </button>
              <button
                type="button"
                style="margin-left: 5%"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancelar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>