body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding-top: 1%;

  color: #224;
}

.subcriterio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}