body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    color: #224;
    /* background:
      url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
      center / cover no-repeat fixed; */


      
  }

  .subcriterio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }