@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #0b0283;
    margin-bottom: 5px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #0f058d;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 55px;
    height: 55px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #cbd5df;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
  }
  @media (max-width: 767px) {
    .navbar {
      height: auto;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
      display: block;
      margin: auto;
      text-align: center;
    }

    .navbar-toggler {
      border-color: transparent;
    }

    .navbar-nav {
      margin-top: 10px;
      display: none;
    }

    .navbar-nav .nav-item {
      display: block;
    }

    .user-info {
      margin-top: 10px;
      margin-right: 10px;
      display: flex;
      align-items: center;
    }

    .user-info img {
      margin-right: 10px;
    }

    .navbar-toggler {
      margin-right: 10px;
    }

    .show .navbar-nav {
      display: block;
    }
  }
