<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> LISTADO DE RESPONSABLES </strong></h1>
    </blockquote>
    <div></div>
    <div class="card">
      <div class="card-body">
        <div class="input-group mb-3">
          <input
          type="text"
          class="form-control"
          name="filterPost3"
          placeholder="Buscar..."
          [(ngModel)]="filterPost"
          (input)="aplicarFiltro()"
        />
      </div>
        <table mat-table [dataSource]="dataSource| buscar : filterPost" class="mat-elevation-z8">
          <ng-container matColumnDef="Usuario">
            <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item.username }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item?.persona?.primer_nombre }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Apellido">
            <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item?.persona?.primer_apellido }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Correo">
            <mat-header-cell *matHeaderCellDef>Correo</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item?.persona?.correo }}</mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="Actividades">
            <mat-header-cell *matHeaderCellDef>Actividades</mat-header-cell>
            <mat-cell *matCellDef="let item">
              <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="listaAct(item)"
            >
              Ver
            </button>
            </mat-cell>
          </ng-container>
        
          <!-- Fila de encabezado -->
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          
          <!-- Filas de datos -->
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-blue">
          <h3 class="modal-title">
            <i class="fas fa-clipboard"></i>Actividades Asignadas
          </h3>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="card">
          <div class="card-body">
              <br />
              <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
                <ng-container matColumnDef="Código">
                  <mat-header-cell *matHeaderCellDef class="text-center">Código</mat-header-cell>
                  <mat-cell *matCellDef="let item" class="text-center">{{ item.id_actividad }}</mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="Nombre">
                  <mat-header-cell *matHeaderCellDef class="text-center">Nombre</mat-header-cell>
                  <mat-cell *matCellDef="let item" class="text-center">{{ item.nombre }}</mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="Fecha Inicio">
                  <mat-header-cell *matHeaderCellDef class="text-center">Fecha Inicio</mat-header-cell>
                  <mat-cell *matCellDef="let item" class="text-center">{{ item.fecha_inicio }}</mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="Fecha Fin">
                  <mat-header-cell *matHeaderCellDef class="text-center">Fecha Fin</mat-header-cell>
                  <mat-cell *matCellDef="let item" class="text-center">{{ item.fecha_fin }}</mat-cell>
                </ng-container>
              
                <!-- Fila de encabezado -->
                <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                
                <!-- Filas de datos -->
                <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              
          </div>
      </div>

      </div>
    </div>
  </div>
</body>
