<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong>Modelos </strong>
      </h1>
    </blockquote>
    <button
      type="button"
      class="btn btn-primary btn-lg btn-block"
      (click)="openDialog()"
    >
      Iniciar Nuevo Modelo
    </button>

    <div class="horizontal-list">
      <ng-container *ngFor="let item of datasource; let i = index">
        <div class="card mi-card card-{{ i }}">
          <div class="card-header">
            <strong>NRO MODELO: </strong> {{ item.id_modelo
            }}<span *ngIf="item.estadoad==true" class="recent-icon">
              <mat-icon>new_releases</mat-icon>
            </span>
           <button class="btn btn-primary"style="margin-left: auto;" *ngIf="item.estadoad==false" (click)="actualizarEstadoAD(item.id_modelo,1)" ngbTooltip="Activar el modelo">Activar</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalselectmodelo" style="margin-left: auto;" *ngIf="item.estadoad==true" (click)="cargarModelos(item.id_modelo)" ngbTooltip="Desactivar el modelo" >Desactivar</button>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <p class="card-text">
              <strong>INICIO: </strong>{{ item.fecha_inicio | customDate }}
              <br />
              <strong>FINAL: </strong> {{ item.fecha_fin | customDate }}
            </p>
            <table class="table text-center">
              <thead>
                <tr>
                  <th scope="col">Criterios</th>
                  <th scope="col">Subcriterios</th>
                  <th scope="col">Indicadores</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ item.nro_criterios }}</td>
                  <td>{{ item.nro_subcriterios }}</td>
                  <td>{{ item.nro_indicadores }}</td>
                </tr>
              </tbody>
            </table>
            <br />
            <div
              class="btn-group -flex justify-content-center "
              role="group"
              aria-label="Basic example"
              style="width: 100%;"
            >
              <button
                (click)="enviarModelo(item)"
                type="button"
                class="btn btn-primary"
              >
                Detalle
              </button>
              <button style="margin-left: 1%;" *ngIf="item.estadoad==true" (click)="openDialogMod(item)" class="btn btn-primary">Modificar</button>
              <button style="margin-left: 5%;" type="button" class="btn btn-danger"
              (click)="eliminar(item)">Eliminar</button>
            </div>
          </div>
          <div class="card-footer text-muted">
            <strong>ACTIVIDADES: </strong>
            {{ item.fecha_final_act | customDate }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  
   <!-- modal seleccion de un modelo -->
   <div class="modal fade" id="modalselectmodelo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog custom-modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header text-center" style="background-color: rgb(0, 122, 255); max-height: 65px; align-items: flex-start;">
         <strong>
           <h1 class="modal-title font-weight-bold" style="font-family: Arial, sans-serif; color: white">
              Desactivar Modelo
           </h1>
         </strong>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarSeleccion()"></button>
       </div>
       <div class="modal-body">
          <div class="info-message">
            <span class="info-text" >Para continuar, es necesario seleccionar un modelo que pasará a estar activo.</span>
          </div>
          <div class="info-message" style="text-align: center; margin-top: 1%; margin-bottom: 1%;">
            <span class="info-text" style="opacity: 0.5; " >Seleccione un modelo: </span>
          </div>
          <mat-selection-list class="selection-list-container" [multiple]="false" (selectionChange)="onSelectionChange($event)">
              <mat-list-option *ngFor=" let modelo of datasourcemodelosm" [value]="modelo">
                <strong>Nro:</strong> {{modelo.id_modelo}} <strong  style="margin-left: 1%;">Nombre:</strong> {{ modelo.nombre }} <strong style="margin-left: 4%;">Fecha Inicio:</strong> {{ modelo.fecha_inicio | customDate }}  <strong style="margin-left: 1%;">Fecha Fin:</strong> {{ modelo.fecha_fin | customDate }}
              </mat-list-option>
                <mat-spinner diameter="40"></mat-spinner>
                <p>Cargando...</p>
                <div *ngIf="isLoading" class="loading-overlay">
            </div>
            </mat-selection-list>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="seleccionado==true">
              <strong>Nota:</strong> Al aceptar esta acción desactivara el modelo vigente y activara el modelo seleccionado.
          </div>
         <div class="container text-center">
          <button type="button"  class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarSeleccion()">
            Cancelar
          </button>
          <button style="margin-left: 5%" mat-raised-button color="primary"  data-bs-dismiss="modal" [disabled]="!seleccionado" (click)="actualizarEstadoAD(modeloSeleccionado.id_modelo,1)">
            <mat-icon>input</mat-icon>Aceptar
          </button>          
         </div>
       </div>
     </div>
   </div>
 </div>
</body>
