<div class="container bg-light border border-start-0 rounded-4">
  <blockquote class="blockquote text-dark" style="margin-top: 5%">
    <h1><strong> LISTADO ACTIVIDADES</strong></h1>
  </blockquote>
  <div></div>
  <div class="card">
    <div class="card-body">
      <div role="search" id="buscar">
        <input
        type="text"
        class="form-control"
        name="filterPost3"
        placeholder="Buscar..."
        [(ngModel)]="filterPost"
        (input)="aplicarFiltro()"
      />
      </div>
      <br />
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#materiaModal"
      *ngIf="crear">
        CREAR NUEVA ACTIVIDAD
      </button>
      <br />
      <br />
      <table  mat-table [dataSource]="dataSource | buscar : filterPost" class="mat-elevation-z8">
        <!-- Encabezados de la tabla -->
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef
          [style.display]="ocultar? '' : 'none'">ID</th>
          <td mat-cell *matCellDef="let acti"
          [style.display]="ocultar? '' : 'none'">{{ acti.id_actividad }}</td>
        </ng-container>

        <ng-container matColumnDef="NOMBRE">
          <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
          <td mat-cell *matCellDef="let acti">{{ acti.nombre }}</td>
        </ng-container>
      
        <ng-container matColumnDef="DESCRIPCIÓN">
          <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
          <td mat-cell *matCellDef="let acti">{{ acti.descripcion }}</td>
        </ng-container>
      
        <ng-container matColumnDef="FECHA DE INICIO">
          <th mat-header-cell *matHeaderCellDef>FECHA DE INICIO</th>
          <td mat-cell *matCellDef="let acti">{{ acti.fecha_inicio | date:'dd/MM/yyyy' }}</td>
        </ng-container>
      
        <ng-container matColumnDef="FECHA FINALIZACION">
          <th mat-header-cell *matHeaderCellDef>FECHA FINALIZACION</th>
          <td mat-cell *matCellDef="let acti">{{ acti.fecha_fin | date:'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="ESTADO">
          <th mat-header-cell *matHeaderCellDef>ESTADO</th>
          <td mat-cell *matCellDef="let acti" [ngClass]="getColorEstado(acti.estado)">{{ acti.estado.toUpperCase() }}</td>
        </ng-container>
        <ng-container matColumnDef="observacion">
          <th mat-header-cell *matHeaderCellDef>Observación</th>
          <td mat-cell *matCellDef="let elemento">
            <div *ngFor="let observacion of elemento.observacion">
              {{ observacion }}
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="Subir evidencia">
          <th mat-header-cell *matHeaderCellDef>Subir evidencia</th>
          <td mat-cell *matCellDef="let acti">
            <button class="btn btn-primary" role="button" (click)="verDetalles(acti)" >
              <div class="d-flex">
                <span class="badge">
                </span>
                <i class="fa fa-folder-open"></i>
              </div>
            </button>
          </td>
        </ng-container>
      
        <ng-container matColumnDef="ACCIÓN">
          <th mat-header-cell *matHeaderCellDef>ACCIÓN</th>
          <td mat-cell *matCellDef="let acti">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary" style="margin-right: 5%" data-bs-toggle="modal"
              data-bs-target="#materiaModal" (click)="editDatos(acti)" *ngIf="acti.estado !== 'Aprobada'">
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-danger" style="background-color: red; margin-right: 5%" role="button"
              (click)="eliminar(acti)" *ngIf="acti.estado !== 'Aprobada'">
              <i class="fa fa-trash"></i>
            </button>
            </div>
          </td>
        </ng-container>

      
        <!-- Fila de encabezado -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        
        <!-- Filas de datos -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        #paginator
        [pageSizeOptions]="[10, 20,30]"
        showFirstLastButtons
        aria-label="Seleccione"
      >
      </mat-paginator>


      <div class="modal fade" id="materiaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
        (hidden.bs.modal)="limpiarFormulario()">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-blue">
              <h3 class="modal-title">
                <i class="fas fa-clipboard"></i> Actividades
              </h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="frmActividades" (ngSubmit)="guardar()" id="formulario">
                <div>
                  <label for="nombre">Nombre:</label>
                  <input class="form-control" formControlName="nombre" type="text" id="nombre" name="nombre"
                    style="margin-bottom: 10px" />
                  <div class="alert alert-danger" *ngIf="
                frmActividades.controls['nombre'].invalid &&
                frmActividades.controls['nombre'].touched
              ">
                    <div *ngIf="
                frmActividades.controls['nombre'].hasError('required')
              ">
                      Debe ingresar un nombre
                    </div>
                  </div>
                  <label for="descripcion">Descripción:</label>
                  <textarea class="form-control" formControlName="descripcion" id="descripcion" name="descripcion"
                    style="margin-bottom: 10px"></textarea>
                  <div class="alert alert-danger" *ngIf="
                frmActividades.controls['descripcion'].invalid &&
                frmActividades.controls['descripcion'].touched
              ">
                    <div *ngIf="
                frmActividades.controls['descripcion'].hasError(
                  'required'
                )
              ">
                      La descripción no puede estar vacía
                    </div>
                    <div *ngIf="
                frmActividades.controls['descripcion'].hasError(
                  'maxlength'
                )
              ">
                      Excedió el número de caracteres permitidos
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="fecha_inicio">Fecha de inicio:</label>
                    <div class="input-group">
                      <input type="date" id="fecha_inicio" name="fecha_inicio" formControlName="fecha_inicio"
                        class="form-control"  [min]="fechaMinima" [max]="fechaMax" (change)="validarFechas()" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="fecha_fin">Fecha de finalizar:</label>
                    <div class="input-group">
                      <input type="date" id="fecha_fin" name="fecha_fin" formControlName="fecha_fin"
                        class="form-control" [min]="fechaMinima" [max]="fechaMax" (change)="validarFechas()" />
                    </div>
                    <div class="alert alert-danger" *ngIf="frmActividades.hasError('fechasInvalidas')">
                      La fecha de finalización debe ser posterior a la fecha de inicio.
                    </div>
                  </div>

                </div>

              </form>
              <div class="modal-footer">
                <button type="button" form="formulario" class="btn btn-warning" data-bs-dismiss="modal">
                  Cancelar
                </button>
                <button type="submit" class="btn btn-primary" form="formulario" *ngIf="!actividad.id_actividad"
                  data-dismiss="modal" data-bs-dismiss="modal"
                  [disabled]="!frmActividades.valid || frmActividades.hasError('fechasInvalidas')">
                  Agregar
                </button>
                <button class="btn btn-primary" *ngIf="actividad.id_actividad" data-dismiss="modal"
                  data-bs-dismiss="modal" (click)="actualizar()"
                  [disabled]="!frmActividades.valid || frmActividades.hasError('fechasInvalidas')">
                  Actualizar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
