body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding-top: 1%;

  color: #224;

}

.descripcion-cell {
  padding-top: 10px;
  /* Ajusta el espacio superior según lo necesites */
  padding-bottom: 10px;
  /* Ajusta el espacio inferior según lo necesites */
}