<body>
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando...</p>
  </div>
  <div class="container bg-light border border-start-0 rounded-4">
    <div class="container text-center">
      <div class="row" style="margin-top: 2%; margin-bottom: 10%">
        <div class="card">
          <div class="card-body">
            <figure class="text-center text-dark" style="margin-top: 5%; font-style: italic; font-size: smaller">
              <blockquote class="blockquote text-dark">
                <h1>
                  <strong> LISTADO DE RESPONSABLES </strong>
                </h1>
              </blockquote>
            </figure>

            <div class="info-message">
              <span class="info-text" style="opacity: 0.5">Seleccione un responsable</span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..."
                [(ngModel)]="filterPost" />
            </div>
            <mat-selection-list [multiple]="false" (selectionChange)="onSelectionChange($event)"
              class="selection-list-container">
              <mat-list-option *ngFor="
                  let usuario of usuarioResponsable | buscarUsuario : filterPost
                " [value]="usuario">
                {{ usuario.persona.primer_nombre }}
                {{ usuario.persona.primer_apellido }}
              </mat-list-option>
              <div *ngIf="isLoading" class="loading-overlay">
                <mat-spinner diameter="40"></mat-spinner>
                <p>Cargando...</p>
              </div>
            </mat-selection-list>
          </div>
        </div>

        <div class="card" style="height: 95%">
          <div class="card-body">
            <div class="d-flex flex-row align-items-center">
              <figure class="text-center text-dark" style="margin-top: 5%; font-style: italic; font-size: smaller">
                <blockquote class="blockquote text-dark">
                  <h1>
                    <strong> EVIDENCIAS ASIGNADAS</strong>
                  </h1>
                </blockquote>
              </figure>
            </div>

            <div class="row align-items-center">
              <div class="col text-center" style="max-height: 300px; overflow-y: scroll" *ngIf="mostrarBoton">
                <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 10%">
                  <div class="form-group">
                    <input type="text" class="form-control" name="filterPost3"
                      placeholder="Buscar por ID de tarea asignada" [formControl]="idFilter" (input)="applyFilter()" />
                  </div>
                  <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef [style.display]="ocultar? '' : 'none'">ID</th>
                      <td mat-cell *matCellDef="let elemento" [style.display]="ocultar? '' : 'none'">
                        {{ elemento.id_evidencia }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.indicador?.subcriterio?.criterio?.nombre }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="subcriterio">
                      <th mat-header-cell *matHeaderCellDef>SUBCRITERIO</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.indicador?.subcriterio?.nombre }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="indicadores">
                      <th mat-header-cell *matHeaderCellDef>INDICADORES</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.indicador?.nombre }}
                      </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="descripcion">
                      <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.descripcion }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                      <td mat-cell *matCellDef="let element">
                        <div style="display: flex; align-items: center;">
                        <button type="button" class="btn btn-primary custom-button" title="Ver las actividades" style="
                            background-color: rgb(58, 156, 156);
                            margin-right: 5%;
                          " (click)="verDetalles(element)" [disabled]="
                            element.estado === 'pendiente' && disableVerDetalles
                          ">
                          <i class="fas fa-list"></i>
                          <div *ngIf="isLoading" class="loading-overlay">
                            <mat-spinner diameter="40"></mat-spinner>
                            <p>Cargando...</p>
                          </div>
                        </button>
                        <button type="button" class="btn btn-primary custom-buttonEvaluar" mat-icon-button type="button" title="Aprobar o Rechazar"
                          (click)="seleccionarTarea(element)" style="
                            background-color: rgb(190, 170, 78);
                            margin-right: 5%;
                          " data-bs-toggle="modal" data-bs-target="#exampleModal2">
                          <mat-icon> functions</mat-icon>
                        </button>
                        </div>
                        <div style="display: flex; align-items: center;">
                          <button type="button" class="btn btn-primary custom-button" mat-icon-button type="button" title="Calificar"
                            (click)="calificar(element)" style="background-color: rgb(190, 170, 78); margin-right: 5%;">
                            <mat-icon>filter_frames</mat-icon>
                          </button>
                          <button *ngIf="element.estado !== 'pendiente'" type="button" class="btn btn-primary custom-buttonDetalle" title="Ver observaciones"
                            mat-icon-button (click)="seleccionarTareaDetalle(element)"
                            style="background-color: rgb(150, 215, 219); margin-right: 5%;" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                            <mat-icon>help</mat-icon>
                          </button>
                        </div>
                        
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                    <tr mat-row *matRowDef="let fila; columns: columnas"
                      [style.background-color]="getColorByEstado(fila.estado)"></tr>
                  </table>
                </div>
              </div>
             
              <div class="container">
                <div class="row justify-content-end">
                  <div class="col">
                    <div style="display: flex; align-items: center">
                      <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(253, 79, 56);
                        "></div>
                      <span class="label" style="font-size: 12px; opacity: 0.7">Rechazadas</span>
                    </div>
                  </div>
                  <div class="col">
                    <div style="display: flex; align-items: center">
                      <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(96, 179, 114);
                        "></div>
                      <span class="label" style="font-size: 12px; opacity: 0.7">Aprobadas</span>
                    </div>
                  </div>
                  <div class="col">
                    <div style="display: flex; align-items: center">
                      <div class="mr-1" style="
                          width: 20px;
                          height: 20px;
                          background-color: rgb(255, 242, 170);
                        "></div>
                      <span class="label" style="font-size: 12px; opacity: 0.7">Pendientes</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          (hidden.bs.modal)="LimpiarModal()">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header" style="background-color: rgb(0, 122, 255)">
                <h1 class="modal-title text-center display-2 fw-bold"
                  style="font-family: Arial, sans-serif; color: white">
                  EVALUAR
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="LimpiarModal() "></button>
              </div>
              <div class="modal-body">
                <div class="card">
                  <div class="card-body" style="height: 95%">
                    <h2 class="card-title">
                      <i class="fas fa-file-alt" style="margin-right: 10px"></i>Detalles
                    </h2>

                    <br />
                    <hr />

                    <div style="display: flex; justify-content: space-between">
                      <div style="width: 30%; margin-right: 10px">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label [ngClass]="{'disabledcolor': true}">Fecha de revisión</mat-label>
                          <input [ngClass]="{'disabledcolor': true}" disabled name="fecha" matInput [value]="fechaFormateada" />
                        </mat-form-field>
                      </div>

                      <div style="width: 30%; margin-right: 10px">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label [ngClass]="{'disabledcolor': true}">Usuario Evaluador</mat-label>
                          <input [ngClass]="{'disabledcolor': true}" disabled name="usuario" matInput [value]="user.username" />
                        </mat-form-field>
                      </div>

                      <div style="width: 30%; margin-right: 10px">
                        <mat-form-field class="full-width" appearance="outline">
                          <mat-label [ngClass]="{'disabledcolor': true}">Estado de Tarea</mat-label>
                          <input [ngClass]="{'disabledcolor': true}" disabled name="estado" matInput [value]="estadoEvi" required />
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="width: auto; margin-right: 10px">
                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label [ngClass]="{'disabledcolor': true}">Descripción Tarea</mat-label>
                        <input [ngClass]="{'disabledcolor': true}" disabled name="estado" matInput [value]="evid.descripcion" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6 col-lg-3" style="padding: 10px 20px">
                    <div class="card">
                      <div class="card-body">
                        <h3 class="card-title">
                          <i class="fas fa-pencil-alt" style="margin-right: 5px"></i>
                          <strong>OBSERVACIONES</strong>
                        </h3>
                        <br />
                        <div class="container">
                          <div class="col">
                            <button type="button" class="btn btn-warning btn-block" (click)="Limpiar()"
                            title="Haz clic para borrar">
                              <i class="fas fa-eraser"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-block"
                              (click)="Aprobado(evid)"
                              title="Haz clic aquí para aprobar">
                              <i class="fas fa-thumbs-up"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-block"
                              (click)="Rechazado(evid)"
                              title="Haz clic aquí para rechazar">
                              <i class="fas fa-thumbs-down"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-8 col-lg-6" *ngIf="mostrar" style="width: 75%">
                    <div class="card">
                      <div class="card-body">
                        <form (ngSubmit)="enviar()">
                          <div style="
                              display: flex;
                              justify-content: flex-start;
                              gap: 10rem;
                            ">
                            <div class="form-floating mb-3" style="width: 45%">
                              <input type="text" id="toUser" name="toUser" required class="form-control"
                                placeholder="............" [value]="correoEnviar" [(ngModel)]="toUser" required />
                              <label for="toUser">Para:</label>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="text" id="subject" name="subject" style="margin-right: 5%"
                                [(ngModel)]="subject" required class="form-control" placeholder="............"
                                required />
                              <label for="subject">Asunto:</label>
                            </div>
                          </div>

                          <div style="margin-bottom: 10%; height: 25px">
                            <div class="form-floating">
                              <textarea class="form-control card-textarea" placeholder="Leave a comment here"
                                id="floatingTextarea2" style="max-height: 75px; overflow-y: auto"
                                placeholder="Ingrese alguna observación..........." [(ngModel)]="observacion" required
                                id="message" name="message" [(ngModel)]="message" required rows="12"></textarea>
                              <label for="message">Comentario</label>
                            </div>
                          </div>

                          <div class="button-group" style="display: flex; justify-content: center">
                            <button type="submit" class="btn btn-primary">
                              <i class="fas fa-envelope"></i> Enviar
                            </button>
                          </div>
                        </form>

                        <div class="spinner-container" *ngIf="isSending">
                          <div class="overlay">
                            <mat-progress-spinner [diameter]="150" [strokeWidth]="5" [value]="spinnerValue"
                              [mode]="'determinate'" class="spinner"></mat-progress-spinner>
                            <h1 class="text" style="color: white">
                              Enviando correo...
                            </h1>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer" style="background-color: rgb(0, 122, 255)">
                <button type="button" class="btn btn-success" *ngIf="verificar" 
                [attr.data-bs-dismiss]="verificar ? 'modal' : null"
                  style="background-color: rgb(10, 8, 94)" (click)="guardarap()">
                  <i class="fas fa-save"></i>
                  Guardar
                </button>
                <button type="button" style="margin-left: 5%" class="btn btn-danger" data-bs-dismiss="modal"
                  (click)="LimpiarModal() ">
                  <i class="fas fa-times"></i> Cancelar
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content" >
              <div class="modal-header" style="background-color: rgb(0, 122, 255)">
                <h1 class="modal-title" style="font-family: Arial, sans-serif; color: white" id="exampleModalLabel">
                  OBSERVACIONES
                </h1>

              </div>
              <div class="modal-body">
                <div class="mat-elevation-z8" style="margin-bottom: 5%">
                  <table mat-table [dataSource]="dataSource4">
                    <ng-container matColumnDef="iddetalle">
                      <th mat-header-cell *matHeaderCellDef>ID</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.id_detalle_evaluacion }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="evi">
                      <th mat-header-cell *matHeaderCellDef>EVIDENCIA</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.evidencia.id_evidencia }}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="observacion">
                      <th mat-header-cell *matHeaderCellDef>OBSERVACIÓN</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.observacion }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef>ESTADO</th>
                      <td mat-cell *matCellDef="let elemento"
                        [ngClass]="{'rechazada': !elemento.estado, 'aprobada': elemento.estado}">
                        {{ elemento.estado ? 'Aprobada' : 'Rechazada' }}
                      </td>
                    </ng-container>


                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef>FECHA</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento.fecha | date:'dd/MM/yyyy'}}
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="usua">
                      <th mat-header-cell *matHeaderCellDef>USUARIO EVALUADOR</th>
                      <td mat-cell *matCellDef="let elemento">
                        {{ elemento?.usuario?.persona?.primer_nombre }}
                        {{ elemento?.usuario?.persona?.primer_apellido }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
                      <td mat-cell *matCellDef="let element">

                        <button class="btn btn-danger" style="background-color: red; margin-right: 5%" role="button"
                          (click)="Eliminar(element)">
                          <i class="fa fa-trash"></i>
                        </button>

                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnasDetalle"></tr>
                    <tr mat-row *matRowDef="let fila; columns: columnasDetalle"></tr>
                  </table>

                  <ng-container *ngIf="noRegistros">
                    <p>{{ noRegistros }}</p>
                  </ng-container>

                </div>
              </div>
              <div class="modal-footer" style="background-color: rgb(0, 122, 255)">

                <button type="button" style="margin-left: 5%" class="btn btn-danger" data-bs-dismiss="modal">
                  <i class="fas fa-times"></i> Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>