<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong
          ><a style="cursor: pointer" (click)="irinicio()">Modelos </a>
          >
          <a>{{ model.nombre }} </a></strong
        >
      </h1>
    </blockquote>
    <div class="container contenerdor">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6" *ngIf="model">
            <table>
              <tr>
                <td><b>ID:</b></td>
                <td>{{ model.id_modelo }}</td>
              </tr>
              <tr>
                <td><b>NOMBRE:</b></td>
                <td>{{ model.nombre }}</td>
              </tr>
              <tr>
                <td><b>FECHA INICIO:</b></td>
                <td>{{ model.fecha_inicio | date : "dd/MM/yyyy" }}</td>
              </tr>
              <tr>
                <td><b>FECHA FIN:</b></td>
                <td>{{ model.fecha_fin | date : "dd/MM/yyyy" }}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div *ngIf="model" class="d-flex align-items-center">
            <b style="padding-right: 2%">IR A PONDERACION DEL MODELO </b>

            <button
              mat-icon-button
              (click)="irPonderacionModelo(model)"
              *ngIf="!ocultarBoton"
              class="boton"
            >
              <mat-icon class="iconoB">assignment</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="mostrarPrincipal === 0; then template1; else template2"
    ></ng-container>
    <ng-template #template1>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
          <ng-container
            matColumnDef="{{ column }}"
            *ngFor="let column of columnsToDisplay"
          >
            <th mat-header-cell *matHeaderCellDef>{{ columnNames[column] }}</th>
            <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
          </ng-container>
          <ng-container matColumnDef="subcriterios">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="center-encabezado"
            >
              Detalle Subcriterios
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="mostrar(element)" class="boton">
                <mat-icon class="iconoB">info</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="matriz">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="center-encabezado"
            >
              Matriz de Evaluación
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="evaluacion($event, element)"
                class="boton"
              >
                <mat-icon class="iconoB">check_circle</mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="ponderacion">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="center-encabezado"
            >
              Ponderación
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="ponderacionCriterio($event, element)"
                class="boton"
              >
                <mat-icon class="iconoB">assignment</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="asignar">
            <th
              mat-header-cell
              *matHeaderCellDef
              aria-label="row actions"
              class="center-encabezado"
            >
              Asignación
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                (click)="asignar_criterio($event, element)"
                class="boton"
              >
                <mat-icon class="iconoB">account_box</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="columnsToDisplayWithExpand.length"
            ></td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand"
            class="example-element-row"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
      <!-- fin tabla  -->
      <div class="table-container">
        <ng-container
          *ngIf="mostrarSecundario === 1; then template2"
        ></ng-container>
      </div>
    </ng-template>

    <ng-template #template2>
      <blockquote class="blockquote text-dark" style="margin-top: 5%">
        <h1 style="text-transform: uppercase">
          <strong>Reportes ponderacion </strong>
        </h1>
      </blockquote>
      <table
        mat-table
        [dataSource]="dataSourcePonderacion"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="contador">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.contador }}
          </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha de Reporte</th>
          <td mat-cell *matCellDef="let element">
            {{ element.fechapo | date : "dd-MM-yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="revisar">
          <th mat-header-cell *matHeaderCellDef>Reporte</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="pond(element)" class="boton">
              <mat-icon class="iconoB">assignment</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="eliminar">
          <th mat-header-cell *matHeaderCellDef>Eliminar</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="elimin(element)" class="boton">
              <mat-icon class="iconoB">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </ng-template>
  </div>
</body>
