.icono {
  display: block;
  text-indent: -9999px;
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding-top: 1%;

  color: #224;

}

.accioness-cell {
  min-width: 170px;
}