<div class=" border-start-0 rounded-4" id="body">
  <div *ngIf="isLoading" class="loading-overlay">
    <mat-spinner diameter="40"></mat-spinner>
    <p>Cargando...</p>
  </div>
  <div id="fondo" class="container-fluid" style="padding-top: 1%;">
    <div class="card">
      <div class="col" id="letra">
        <blockquote class="blockquote text-dark" style="margin-top: 1%">
          <h1><strong>MODELO:</strong> {{ nombreModelo }}</h1>
        </blockquote>
      </div>
    </div>
    <div class="card" style="margin-top: 15px; border-radius: 15px;  align-items: center;">
      <div class="card-body" style="margin-top: 1%;">
        <div class="pie-grid" *ngIf="listain" id="indic">
          <div class="card2" *ngFor="let item of listain; let i = index" [style.background-color]="coloresTarjetas[i]"
            [style.border]="borderStyles[i]" (click)="fetchAndProcessData(item.nombre)"
            title="Haga clic para ver los datos">
            <div class="card-content">
              <div class="card-content">{{ ((item.total/(item.total+item.faltante))*100 | number: '1.2-2' )||0}}%</div>
              <div class="card-name" style="color: black;">{{ item.nombre }}</div>
              <div class="card-tot">Total: {{ item.total| number: '1.2-3'}} de {{item.total+item.faltante| number:
                '1.2-3'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="border-radius: 15px;  --bs-gutter-x: none;">
      <!-- Tabla de criterios -->
      <div class="card col" id="fig6">
        <div class="card-body">
          <div *ngIf="!clic" class="imagen">
            <img src="./assets/LOGO_CUADRADO_SIN FONDO.png" alt="Logo ista" title="Seleccione un Criterio" />
          </div>
          <div *ngIf="clic">
            <div id="tit">
              <h3><span style="font-weight: bold;">CRITERIO SELECCIONADO:</span> {{titulocriterio}}</h3>
              <div class="btn-tabs">
                <button mat-button class="btn-tab" [ngClass]="verCriterio ? 'selected' : ''" (click)="showCriterio()">
                  Criterio
                </button>

                <button mat-button class="btn-tab" [ngClass]="verSubcriterio ? 'selected' : ''"
                  (click)="showSubcriterio()">
                  Subcriterio
                </button>

                <button mat-button class="btn-tab" [ngClass]="verIndicador ? 'selected' : ''" (click)="showIndicador()">
                  Indicador
                </button>
                <button mat-button class="btn-tab" [ngClass]="verPeso ? 'selected' : ''" (click)="showPeso()">
                  Peso
                </button>
                <button mat-button class="btn-tab" [ngClass]="verEvidencia ? 'selected' : ''" (click)="showEvidencia()">
                  Evidencia
                </button>
                <button mat-button class="btn-tab" [ngClass]="verObtenido ? 'selected' : ''" (click)="showObtenido()">
                  % Obtenido
                </button>
                <button mat-button class="btn-tab" [ngClass]="verUtilidad ? 'selected' : ''" (click)="showUtilidad()">
                  % Utilidad
                </button>
                <button mat-button class="btn-tab" [ngClass]="verValor ? 'selected' : ''" (click)="showValor()">
                  Valor
                </button>
              </div>
            </div>

            <div style="display: flex; margin-bottom: 2%;">
              <div class="mat-elevation-z8 tabla-container">
                <table mat-table [dataSource]="datacrite">
                  <ng-container matColumnDef="Criterio">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verCriterio ? '' : 'none'">Criterio</th>
                    <td mat-cell style="padding: 4px; font-size: 12px; border:1px solid rgba(0, 0, 0, 0.3)"
                      *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan3('Criterio', i)"
                      [style.display]="verCriterio && 
                      getRowSpan3('Criterio', i) ? '' : 'none'">
                      {{ element.criterionomj }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Subcriterio">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verSubcriterio ? '' : 'none'">Subcriterio
                    </th>
                    <td mat-cell style="padding: 4px; font-size: 12px; border:1px solid rgba(0, 0, 0, 0.3)"
                      *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan3('Subcriterio', i)"
                      [style.display]="verSubcriterio && 
                    getRowSpan3('Subcriterio', i) ? '' : 'none'">
                      {{ element.subcrierioj }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Indicador">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verIndicador ? '' : 'none'">Indicador</th>
                    <td mat-cell style="padding: 4px; font-size: 12px; border:1px solid rgba(0, 0, 0, 0.3)"
                      *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan3('Indicador', i)"
                      [style.background-color]="i % 2 === 0 ? '#5cacfb' : '#c3dffb'"
                      [style.display]="verIndicador && getRowSpan3('Indicador', i) ? '' : 'none'">
                      {{ element.ind_nombrej }}
                      {{ calcularRowSpanValue(i) }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Peso">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verPeso ? '' : 'none'">Peso</th>
                    <td mat-cell style="padding: 4px; font-size: 12px;" *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan3('Peso', i)"
                      [style.display]="verPeso && getRowSpan3('Peso', i) ? '' : 'none'" class="centrar">
                      {{ element.pes }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Obtenido">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verObtenido ? '' : 'none'">% Obtenido</th>
                    <td mat-cell style="padding: 4px; font-size: 12px;  border:1px solid rgba(0, 0, 0, 0.3)"
                      *matCellDef="let element; let i = index" [attr.rowspan]="getRowSpan3('Obtenido', i)"
                      [style.display]="verObtenido && getRowSpan3('Obtenido', i) ? '' : 'none'" [ngClass]="{
                  'rojo': element.obt >= 0 && element.obt <= 25,
                  'naranja': element.obt > 25 && element.obt <= 50,
                  'amarillo': element.obt > 50 && element.obt <= 75,
                  'verde': element.obt > 75 && element.obt <= 100
                }">
                      {{ element.obt | number:'1.2-2' }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Utilidad">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verUtilidad ? '' : 'none'">% Utilidad</th>
                    <td mat-cell style="padding: 4px; font-size: 12px;" *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan3('Utilidad', i)" class="centrar"
                      [style.display]="verUtilidad && getRowSpan3('Utilidad', i) ? '' : 'none'">
                      {{ element.uti | number:'1.4-4'}}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Valor">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verValor ? '' : 'none'">Valor</th>
                    <td mat-cell style="padding: 4px; font-size: 12px;" *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan3('Valor', i)" class="centrar"
                      [style.display]="verValor && getRowSpan3('Valor', i) ? '' : 'none'">
                      {{ (element.val > 100 && element.val < 101 ? 100 : element.val)| number:'1.4-4' }} </td>
                  </ng-container>
                  <ng-container matColumnDef="Evidencia">
                    <th mat-header-cell *matHeaderCellDef [style.display]="verEvidencia ? '' : 'none'">Evidencia</th>
                    <td mat-cell style="padding: 4px; font-size: 12px;" *matCellDef="let element; let i = index"
                      [attr.rowspan]="getRowSpan3('Evidencia', i)"
                      [style.background-color]="i % 2 === 0 ? '#5cacfb' : '#c3dffb'"
                      [style.display]="verEvidencia && getRowSpan3('Evidencia', i) ? '' : 'none'">
                      {{ element.descrip }}
                    </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="border-radius: 15px;  --bs-gutter-x: none; ">
      <!-- Graficas de Barras -->
      <div class="card col-8" style="width: 65%; margin-right: 14px;">
        <div class="card-body">
          <div style="flex-basis: 70%;" id="fig2">
            <!-- grafica completa Criterios-->
            <div [hidden]="!gbarrasCriterios">
              <h3 style="font-weight: bold;">GRÁFICA DE CRITERIOS</h3>
              <canvas baseChart class="chart" [data]="barChartData" [options]="barChartOptions"
                [plugins]="barChartPlugins" [type]="barChartType" (chartClick)="chartClickedCS($event)">
              </canvas>
              <button mat-button class="btn-tab" (click)="grafCom()">
                Mostrar grafica individual
              </button>
            </div>
            <!-- grafica completa Subcriterios-->
            <div [hidden]="!gbarrasSubcriterios">
              <div>
                <h3 style="font-weight: bold;">GRÁFICA DE SUBCRITERIOS</h3>

                <button mat-button class="btn-tab" (click)="volvergbCriterios()">
                  <mat-icon>reply</mat-icon>
                </button>
              </div>
              <canvas baseChart class="chart" [data]="barChartDataSubcriterios" [options]="barChartOptions"
                [plugins]="barChartPlugins" [type]="barChartType" (chartClick)="chartClickedSI($event)">
              </canvas>
            </div>
            <!-- grafica completa Indicadores-->
            <div [hidden]="!gbarrasIndicadores">
              <h3 style="font-weight: bold;">GRÁFICA DE INDICADORES</h3>
              <button mat-button class="btn-tab" (click)="volvergbSubcriterios()">
                <mat-icon>reply</mat-icon>
              </button>
              <canvas baseChart class="chart" [data]="barChartDataIndicadores" [options]="barChartOptions"
                [plugins]="barChartPlugins" [type]="barChartType">
              </canvas>
            </div>
            <!-- grafica individual -->
            <div *ngIf="mostrargrafico">
              <h3 style="font-weight: bold;">GRÁFICA DE CRITERIOS</h3>
              <canvas baseChart class="chart" [data]="barChartData2" [options]="barChartOptions"
                [plugins]="barChartPlugins" [type]="barChartType" (chartClick)="chartClickedCS($event)">
              </canvas>
              <div class="btntext">
                <button mat-button class="btn-tab" (click)="grafCom()">
                  Mostrar grafica completa
                </button>
                <h3>{{texto}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gráfico pastel -->
      <div class="col-4">
        <div class="card" style="margin-top: 15px">
          <div class="card-body">

            <h3 style="font-weight: bold">SEGUIMIENTO DE ACTIVIDADES</h3>
            <span *ngIf="valoresevid"> No hay actividades disponibles</span>
            <canvas *ngIf="!valoresevid" baseChart class="chart" [data]="pieChartData2" [type]="pieChartType2"
              [options]="pieChartOptions2" [plugins]="pieChartPlugins2"></canvas>
          </div>
        </div>
        <div class="card" style="margin-top: 15px; height: 20%">
          <div class="card-body">
            <ul class="custom-ul">
              <li *ngFor="let actividad of conteoActividades" class="custom-li">
                <span class="estado">{{ actividad.estado || 0}}:</span>
                <span class="conteo">{{ actividad.conteo || 0}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="border-radius: 15px;  --bs-gutter-x: none;">
      <!-- Tabla de indicadores -->
      <div class="card col-sm espacio-modals">
        <div class="card-body">
          <div id="tit2">
            <h3 style="font-weight: bold; padding-bottom: 5%;">Estado de cumplimiento de los indicadores</h3>
          </div>
          <table mat-table [dataSource]="tabla" class="mat-elevation-z8">
            <ng-container matColumnDef="indicadores">
              <th mat-header-cell *matHeaderCellDef style="background-color: gray;"> Indicadores </th>
              <td mat-cell *matCellDef="let element" [style.background-color]="colores(element.color)">
                {{element.color.toUpperCase()}} </td>
            </ng-container>
            <ng-container matColumnDef="nindi">
              <th mat-header-cell *matHeaderCellDef style="background-color: gray; text-align: center;"> N° indi </th>
              <td mat-cell *matCellDef="let element" style=" text-align: center;"> {{element.indica}} </td>
            </ng-container>

            <ng-container matColumnDef="porcentaje">
              <th mat-header-cell *matHeaderCellDef style="background-color: gray;text-align: center;"> % </th>
              <td mat-cell *matCellDef="let element" style=" text-align: center;"> {{element.porcentaje}}% </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
          </table>
        </div>
      </div>
      <!-- Chart Pie -->
      <div class="card col-sm espacio-modals">
        <div class="card-body">
          <h3 style="font-weight: bold;margin-left: 1%;">Grafica del cumplimiento de los Indicadores</h3>
          <canvas baseChart class="chart" [data]="pieChartData" [type]="pieChartType" [options]="pieChartOptions"
            [plugins]="pieChartPlugins">
          </canvas>
        </div>
      </div>
      <!-- Chart Pie -->
      <div class="card col-sm">
        <div class="card-body">
          <h3 style="font-weight: bold;margin-left: 1%;">Grafica de Criterios</h3>
          <canvas id="cdoughtnut">{{chart}}</canvas>
        </div>
      </div>
    </div>
    <div class="row" style="border-radius: 15px; --bs-gutter-x: none; justify-content: center;">
      <div class="card col" id="fig6">
        <div class="card-body">
          <div id="tit2">
            <h3 style="font-weight: bold;">GRÁFICO DE AVANCE DEL CUMPLIMIENTO DE LAS EVIDENCIAS</h3>
          </div>
          <div style="flex-basis: 30%; display: flex; justify-content: center;" id="fig5">
            <ngx-charts-bar-vertical [view]="[800, 400]" [scheme]="colorScheme" [results]="avances" [xAxis]="true"
              [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Evidencias'"
              [yAxisLabel]="'Avance (%)'" [showDataLabel]="true" [barPadding]="8" [roundEdges]="true">
              <ng-template #tooltipTemplate let-model="model">
                <div class="custom-tooltip">
                  <span>{{ model.name }}</span>
                  <br />
                  <span>{{ model.value / 100 | percent }}</span>
                </div>
              </ng-template>
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>