<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reporte por Criterio</title>
</head>
<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1 style="text-transform: uppercase">
        <strong><a>REPORTE POR CRITERIO </a></strong>
      </h1>
    </blockquote>
    <div class="card">
      <div class="card-body">
        <div class="d-flex">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Seleccione criterios
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a
                class="dropdown-item"
                *ngFor="let crit of criterios"
                (click)="toggleCriterioSelection(crit)"
              >
                <span class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [checked]="isCriterioSelected(crit)"
                  />
                  <label class="form-check-label">{{ crit.nombre }}</label>
                </span>
              </a>
            </div>
          </div>

          <button
            type="button"
            class="btn btn-primary"
            (click)="buscarPorCriterio()"
            style="margin-left: 2%;"
          >
            Buscar criterios seleccionados
          </button>
          <button
            type="button"
            class="btn btn-primary ml-auto"
            (click)="generarInformeTotal()"
          >
            <i class="fa fa-file-pdf"></i>
            Generar pdf
          </button>
          <!-- Botón para cambiar entre Cualitativo y Cuantitativo o mostrar la vista general -->
          <button class="btn btn-primary" (click)="toggleModoVisualizacion()">
            {{ mostrarVistaGeneral ? 'Mostrar Vista General' : modoVisualizacion === 'cualitativo' ? 'Mostrar Cuantitativos' : 'Mostrar Cualitativos' }}
          </button>

          <!-- Botón para generar PDF con el modo actual (Cualitativo o Cuantitativo) -->
          <button type="button" class="btn btn-primary" (click)="generarInforme()">
            <i class="fa fa-file-pdf"></i>
            Generar pdf ({{ modoVisualizacion === 'cualitativo' ? 'Cualitativo' : 'Cuantitativo' }})
          </button>
          <br />
        </div>
        <br />
        <!-- Sección para mostrar la tabla de datos generales -->
        <ng-container>
          <!-- Tabla de datos generales -->
          <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
            <div class="tabla-container">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>CRITERIO</th>
                  <th>SUBCRITERIO</th>
                  <th>INDICADOR</th>
                  <th>DESCRIPCION</th>
                  <th>VALOR OBTENIDO</th>
                  <th>PORCENTAJE OBTENIDO</th>
                  <th>PORCENTAJE UTILIDAD</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let general of indicadors">
                  <td>{{ general.subcriterio.criterio.nombre }}</td>
                  <td>{{ general.subcriterio.nombre }}</td>
                  <td>{{ general.nombre }}</td>
                  <td>{{ general.descripcion }}</td>
                  <td>{{ general.valor_obtenido }}</td>
                  <td>{{ general.porc_obtenido }}</td>
                  <td>{{ general.porc_utilida_obtenida }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          </div>
        </ng-container>
        <!-- Tabla de Indicadores (Combinada) -->
        <div class="mat-elevation-z8 table-responsive" style="margin-bottom: 5%">
          <div class="tabla-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>CRITERIO</th>
                <th>SUBCRITERIO</th>
                <th>INDICADOR</th>
                <th>DESCRIPCION</th>
                <th>VALOR OBTENIDO</th>
                <th>PORCENTAJE OBTENIDO</th>
                <th>PORCENTAJE UTILIDAD</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="modoVisualizacion === 'cualitativo'; else cuantitativo">
                <tr *ngFor="let cuali of criteriosCuali | buscar : searchText">
                  <td>{{ cuali.subcriterio.criterio.nombre }}</td>
                  <td>{{ cuali.subcriterio.nombre }}</td>
                  <td>{{ cuali.nombre }}</td>
                  <td>{{ cuali.descripcion }}</td>
                  <td>{{ cuali.valor_obtenido }}</td>
                  <td>{{ cuali.porc_obtenido }}</td>
                  <td>{{ cuali.porc_utilida_obtenida }}</td>
                </tr>
              </ng-container>
              <ng-template #cuantitativo>
                <tr *ngFor="let cuanti of criteriosCuanti | buscar : searchText">
                  <td>{{ cuanti.subcriterio.criterio.nombre }}</td>
                  <td>{{ cuanti.subcriterio.nombre }}</td>
                  <td>{{ cuanti.nombre }}</td>
                  <td>{{ cuanti.descripcion }}</td>
                  <td>{{ cuanti.valor_obtenido }}</td>
                  <td>{{ cuanti.porc_obtenido }}</td>
                  <td>{{ cuanti.porc_utilida_obtenida }}</td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>
        </div>
        
      </div>
    </div>
  </div>
</body>
</html>
