body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    color: #224;

  }

  .tabla-container {
    max-height: 550px;
    overflow-y: auto;
  }
  