<body>
  <div class="container bg-light border border-start-0 rounded-4">
<div class="container">
    <h1 style="text-align: center;">DETALLE DE SUBCRITERIOS</h1>
<div class="detalle">
   
    

</div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
          <th>NOMBRE</th>
          <th>DESCRIPCIÓN</th>
          <th> VER DETALLE INDICADORES</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subcriterio of dataSource| buscar : searchText">
        <td>{{ subcriterio.id_subcriterio }}</td>
        <td>{{ subcriterio.nombre }}</td>
        <td>{{ subcriterio.descripcion }}</td>
        <td>
            <button
          
            type="button" class="btn btn-outline-primary"
          (click)="verDetalles(subcriterio)"
        >
       
        Ver
        </button></td>
     
      </tr>
    </tbody>
  </table>
</div>

  </div></body>