div.detalle {
    border: 2px solid #040936;
    left: 10px;



}

p.fant {
    font-family: sans-serif;

    left: 10px;
    text-align: left;
}

body {
    font: 1em/1.618 Inter, sans-serif;

    display: flex;
    justify-content: center;

    min-height: 100vh;
    padding-top: 1%;

    color: #224;

}