/* Estilos para la tabla */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .custom-table tr:hover {
    background-color: #ddd;
  }
  
  /* Estilos para los botones */
  .custom-button {
    background-color: #f2f2f2;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-button:hover {
    background-color: #ddd;
  }
  .modal-content .ver-button:hover {
    background-color: #0056b3;
  }

  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #aaa;
  }

  .modal {
    display: none; /* Por defecto, el modal está oculto */
    position: fixed; /* Permite que el modal esté posicionado de forma fija */
    z-index: 1; /* Asegura que el modal esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 50%; /* Ancho del modal */
    height: 50%; /* Altura del modal */
    overflow: auto; /* Permite desplazamiento si el contenido es demasiado grande */
    background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
    padding-top: 60px; /* Espacio para el título y el botón de cierre */
    margin: 0 auto; /* Centra el modal horizontalmente */
  }
  
  /* Estilos para el contenido del modal */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido del modal */
  }
  
  /* Estilos para el botón de cierre */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  