<body>
  <div class="container bg-light border border-start-0 rounded-4">
    <blockquote class="blockquote text-dark" style="margin-top: 5%">
      <h1><strong> LISTADO FÓRMULA</strong></h1>
    </blockquote>
    <div></div>

    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost3" placeholder="Buscar..." [(ngModel)]="filterPost"
            (input)="aplicarFiltro()" />
        </div>
        <br />
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id_formula">
            <th mat-header-cell *matHeaderCellDef [style.display]="ocultar ? '' : 'none'">ID</th>
            <td mat-cell *matCellDef="let elemento" [style.display]="ocultar  ? '' : 'none'">
              {{ elemento.id_formula }}
            </td>
          </ng-container>
          <ng-container matColumnDef="criterio">
            <th mat-header-cell *matHeaderCellDef [style.display]="mostrarColumnas ? '' : 'none'">CRITERIO</th>
            <td mat-cell *matCellDef="let elemento" [style.display]="mostrarColumnas ? '' : 'none'">
              {{ elemento.criterio }}
            </td>
          </ng-container>
          <ng-container matColumnDef="subcriterio">
            <th mat-header-cell *matHeaderCellDef [style.display]="mostrarColumnas ? '' : 'none'">SUBCRITERIO</th>
            <td mat-cell *matCellDef="let elemento" [style.display]="mostrarColumnas ? '' : 'none'">
              {{ elemento.subcriterio }}
            </td>
          </ng-container>
          <ng-container matColumnDef="indicador">
            <th mat-header-cell *matHeaderCellDef [style.display]="mostrarColumnas ? '' : 'none'">INDICADOR</th>
            <td mat-cell *matCellDef="let elemento" [style.display]="mostrarColumnas ? '' : 'none'">
              {{ elemento.indicador }}
            </td>
          </ng-container><ng-container matColumnDef="formula">
            <th mat-header-cell *matHeaderCellDef>FÓRMULA</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.formula }}
            </td>
          </ng-container>
          <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef>DESCRIPCIÓN</th>
            <td mat-cell *matCellDef="let elemento">
              {{ elemento.descripcion ? elemento.descripcion : 'Sin descripción disponible' }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let element" class="accioness-cell">
              <button class="btn btn-primary" style="margin-right: 5%" (click)="toggleColumnVisibility()"
                ngbTooltip="Otras columnas">
                <i class="fas fa-eye"></i>
              </button>
              <button class="btn btn-danger" style="background-color: red" (click)="eliminar(element)"
                style="margin-right: 5%" ngbTooltip="Eliminar fórmula">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnasUsuario"></tr>
          <tr mat-row *matRowDef="let fila; columns: columnasUsuario"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements" itemsPerPageLabel="Items por página:" nextPageLabel="Siguiente"
          previousPageLabel="Anterior">
        </mat-paginator>
      </div>
    </div>
  </div>
</body>