#chart {
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }

  .color-verde {
    background-color: green;
  }
  
  .color-rojo {
    background-color: red;
  }

  .color-naranja {
    background-color: orange;
  }
  .color-amarillo {
    background-color: yellow;
  }

  .tabla-contenedor {
    max-height: 400px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Habilitar el scroll vertical */
  }
  
  .tabla-contenedor thead {
    /* Fijar el encabezado en su posición original */
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    z-index: 1;
  }

  body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    color: #224;
   
  }
  