#calc {
  font-family: myFirstFont;
  font-size: 250%;
  text-align: right;
  background-color: inherit;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  justify-content: center;

  min-height: 100vh;
  padding-top: 1%;

  color: #224;

}

.accioness-cell {
  min-width: 200px;
}