.modal-table {
    max-height: calc(100vh - 100px);
  }
  .modal-dialog {
    max-width: 50%;
  }
  
  .modal-content {
    overflow: auto;
  }
  
  input:disabled,mat-label {
    color: #000000; 
    background-color: #ffffff; 
  }
  .btn-close {
    background-color: #f00;
  }
  .mat-cell {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-align: center;
  margin: 0;
}
.custom-alert {
  height: 25%;
}
.my-custom-swal .custom-icon {
  color: red;
}
.custom-buttonArchivos {
  position: relative;
}

.custom-buttonArchivos::after {
  content: "Archivos";
  position: absolute;
  top: -5px; /* Ajusta el valor según la altura del texto */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: rgba(34, 32, 32, 0.8);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-buttonArchivos:hover::after {
  opacity: 1;
}

.custom-buttonEvaluar {
  position: relative;
}

.custom-buttonEvaluar::after {
  content: "Evaluar";
  position: absolute;
  top: 50%;
  right: -50%; 
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: rgba(34, 32, 32, 0.8);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.custom-buttonEvaluar:hover::after {
  opacity: 1;
}
tr.selected {
  background-color: rgb(145, 231, 145);
}
tr.selected2 {
  background-color: rgb(241, 147, 140);
}
.rechazada {
  color: red;
}
body {
  font: 1em/1.618 Inter, sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  
  min-height: 100vh;
  padding: 30px;
  
  color: #224;

}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegura que esté por encima de otros elementos */
  color: white; /* Color del texto */
}