.main-sidebar.sidebar-dark-primary {
    background-color: #1e3352;
  }

  .scrollable-sidebar {
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* Ajusta la altura máxima según tus necesidades */
  }
